<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="general"
        label="COM_CONTENTBUILDERNG_CONFIG_GENERAL_LABEL"
        description="COM_CONTENTBUILDERNG_CONFIG_GENERAL_DESC"
    >
        <field
            name="enable_validations"
            type="radio"
            default="1"
            label="COM_CONTENTBUILDERNG_CONFIG_ENABLE_VALIDATIONS_LABEL"
            description="COM_CONTENTBUILDERNG_CONFIG_ENABLE_VALIDATIONS_DESC"
            layout="joomla.form.field.radio.switcher"
            filter="boolean"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
    </fieldset>

    <fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_contentbuilderng"
			section="component"
		/>
	</fieldset>
</config>
