<?xml version="1.0" encoding="utf-8"?>
<config
    addfieldprefix="CB\Component\Contentbuilderng\Administrator\Field"
    addruleprefix="CB\Component\Contentbuilderng\Administrator\Rule"
>
    <fieldset
        name="general"
        label="COM_CONTENTBUILDERNG_CONFIG_GENERAL_LABEL"
        description="COM_CONTENTBUILDERNG_CONFIG_GENERAL_DESC"
    >
        <field
            name="default_list_limit"
            type="listlimit"
            default="20"
            label="COM_CONTENTBUILDERNG_CONFIG_DEFAULT_LIST_LIMIT_LABEL"
            description="COM_CONTENTBUILDERNG_CONFIG_DEFAULT_LIST_LIMIT_DESC"
            filter="integer"
        />
        <field
            name="pagination_choices"
            type="paginationchoices"
            label="COM_CONTENTBUILDERNG_CONFIG_PAGINATION_CHOICES_LABEL"
            description="COM_CONTENTBUILDERNG_CONFIG_PAGINATION_CHOICES_DESC"
            validate="paginationchoices"
            message="COM_CONTENTBUILDERNG_CONFIG_PAGINATION_CHOICES_INVALID"
            filter="string"
        />
        <field
            name="enable_validations"
            type="radio"
            default="1"
            label="COM_CONTENTBUILDERNG_CONFIG_ENABLE_VALIDATIONS_LABEL"
            description="COM_CONTENTBUILDERNG_CONFIG_ENABLE_VALIDATIONS_DESC"
            layout="joomla.form.field.radio.switcher"
            filter="boolean"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="audit_details_template_empty"
            type="radio"
            default="0"
            label="COM_CONTENTBUILDERNG_CONFIG_AUDIT_DETAILS_TEMPLATE_EMPTY_LABEL"
            description="COM_CONTENTBUILDERNG_CONFIG_AUDIT_DETAILS_TEMPLATE_EMPTY_DESC"
            layout="joomla.form.field.radio.switcher"
            filter="boolean"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="audit_field_missing_in_edit"
            type="radio"
            default="0"
            label="COM_CONTENTBUILDERNG_CONFIG_AUDIT_FIELD_MISSING_IN_EDIT_LABEL"
            description="COM_CONTENTBUILDERNG_CONFIG_AUDIT_FIELD_MISSING_IN_EDIT_DESC"
            layout="joomla.form.field.radio.switcher"
            filter="boolean"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_contentbuilderng"
			section="component"
		/>
	</fieldset>
</config>
